{% extends 'layout.html' %}
{% load static %}
{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/bot_asistencia.css' %}">
    <title>Chatbot</title>
</head>
<body>
    
    <form method="post" action="{% url 'chat_bot' %}">
        {% csrf_token %}
        <p class="respuesta">{{ response_text }}</p>
       
        <input type="text" name="input_text" id="input_text" class="txt" required>
        <button type="submit" class="e">Enviar</button>
        
    </form>
</body>
</html>


{% endblock %}