{% extends 'layout.html' %} 
{% load static %} 
{%block content%}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'css/crearhist.css' %}"
    />
    <title>Crear Historial Clinico</title>
  </head>

  <body>
    <form method="POST" action="{% url 'crear_historialclinico' idpaciente  %}" class="frm">
      {% csrf_token %}

    {% for paciente in datos %}
      {% if paciente.idpaciente == idpaciente %}
        
              <h2>DATOS DEL PACIENTE</h2>
              <br />
              <br />
              <label for="idpaciente">Nombre del Paciente</label>
              <input type="text" name="idpaciente" id="idpaciente" class="txt" value="{{ paciente.nombre }}" disabled>
              <br>
              <br>
              <label for="sexo">Sexo</label>
              <input type="text" name="sexo" class="txt" value="{{ paciente.sexo }}" disabled>
         
              <label for="fechana">Fecha de Nacimiento</label>
          
              <input type="text" name="fechana" class="txt" id="fechana" value="{{ paciente.fechana|date:'d/m/Y' }}" disabled/>
       
      {% endif %}
    {% endfor %}

   

       
      


      <label for="peso">peso</label>
      <input type="text" name="peso"  class="txt" id="peso" required />

      <br />
      <br />
      <br />
      <br />

      <h2>EXAMEN CLINICO</h2>

      <br />
      <br />

      <label for="ganglios">GANGLIOS</label>
      <input type="text" name="ganglios" class="txt" id="ganglios" required />

      <label for="respiratoria">RESPIRATORIA</label>
      <input type="text" name="respiratoria" class="txt" id="respiratoria" required />

      <label for="cardiaca">CARDIACA</label>
      <input type="text" name="cardiaca" class="txt" id="cardiaca" required />
      
      <br>
      <br>
      
      
      <label for="mucosas">MUCOSAS</label>
      <input type="text" name="mucosas"  class="txt" id="mucosas" required />

      <label for="temperatura">TEMPERATURA</label>
      <input type="text" name="temperatura" class="txt" id="temperatura" required />

      <label for="pulso">PULSO</label>
      <input type="text" name="pulso" class="txt" id="pulso" required />


      <br />
      <br />

      <br>
      <br>

      <h2>ANAMNESICOS</h2>
    
      <br />
      <br />
    
      <label for="fechadesp">ULTIMA DESPARACITACION</label>
      <input type="text" name="fechadesp" class="txt" id="fechadesp" required>
      
      <label for="productodesp"> PRODUCTO </label>
      <input type="text" name="productodesp"  class="txt"  id="productodesp">

      <br />
      <br />

      <label for="idvacuna">ID</label>

        <select name="idvacuna" id="idvacuna">
            {% for dato in datosV %}
            <option value="{{ dato.idvacuna }}" {% if vacuna and vacuna.idvacuna == dato.idvacuna %}selected{% endif %}>
                {{ dato.idvacuna }},{{ dato.vacuna}}
            </option>
            {% endfor %}
        </select>



     

      <label for="marca"> MARCA </label>
      <input type="text" name="marca" class="txt" id="marca" required>

     

      <label for="lotev"> LOTE </label>
      <input type="text" name="lotev" class="txt" id="lotev" required>

      <br />
      <br />

      <br>
      <br>
   
      <h2>HISTORIA REPRODUCTIVA</h2>
    
      <br>
      <br>
      

      <label for="fechacelo">ULTIMO CELO</label>
      <input type="text" name="fechacelo" class="txt" id="fechacelo" required>
      
      <label for="fechapart">FECHA ULTIMO PARTO </label>
      <input type="text" name="fechapart"  class="txt"   id="fechapart" required>
        
      
      <label for="estirilizado">ESTERILIZADO</label>
      SI <input type="radio" name="estirilizado" id="estirilizado" value="si">
      NO <input type="radio" name="estirilizado" id="estirilizado" value="no">

      <!-- <label for="estirilizado">estirilizado</label>
      <input type="text" name="estirilizado" class="txt" id="estirilizado" required /> -->

      <br />
      <br />
      <br>
      <br>
      <h2>MOTIVO DE CONSULTA</h2>
      <br>
      <br>
      
      
      <textarea name="consulta" id="consulta" cols="100" rows="10" required></textarea>

      <br />
      <br />


     
      <h2>DESCRIPCION DE HALLAZGO</h2>
      <br>
      <br>
      <textarea name="hallazgo" id="hallazgo" cols="100" rows="10" required></textarea>
      

      <br>
      <br>
      <input type="submit" name="accion" class="btn" value="Agregar">
    </form>
    
  </body>
</html>

{%endblock%}
