{% extends 'layout.html' %} 
{% load static %}

{%block content%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/historial_clinico.css' %}">
    <title>Historial Clinico</title>
</head>
<body>
    <h1>HISTORIAL CLINICO</h1>
    <form method="POST" action="{% url 'historial_clinico' %}" class="frm" id="frm">
        {% csrf_token %}
        <!-- los valores de las cajas de texto se mandan mediante la solicitud post, pero 
        tambien los name que se le asignan ayuda al pasaje de datos ya que es mas facil la interpretacion-->

            
        <label for="dni">DNI</label>
        <select name="dni" id="dniCliente">
            {% for dato in datos %}
            <option value="{{ dato.dni }}">{{ dato.dni }}</option>
            {% endfor %}
        </select>

        <label for="idpaciente">Paciente</label>
        <select name="idpaciente" id="idPaciente">
            {% for dato in datospaciente %}
                <option value="{{ dato.idpaciente }}" {% if paciente and paciente.idpaciente == dato.idpaciente %}selected{% endif %}>
                {{ dato.nombre }}
                </option>
            {% endfor %}
        </select>

            
     
            
        
        <input type="submit" name="accion" class="btn" value="Agregar" />
       
            
            
        <br>
        <br>
        <br>
        <br> 

        <h2>LISTADO DE PACIENTES</h2>
        <br>
        <br> 
        
        <label for="dni" >DNI</label>
        <select name="dni" id="dni">
            {% for dato in datos %}
            <option value="{{ dato.dni }}">{{ dato.dni }}</option>
            {% endfor %}
        </select>

        <label for="idpaci">Paciente</label>
        <select  name="idpaci" id="idPaci" >
            {% for dato in datospaciente %}
                <option value="{{ dato.idpaciente }}">
                {{ dato.nombre }}
                </option>
            {% endfor %}
        </select>
   
        <input type="submit" value="Buscar" class="btn"   name="btn" id="btn">
 
        {% for mensaje in mensajes %}
        <div class="alert alert-success" role="alert">
            {{ mensaje }}
        </div>
    {% endfor %}
    
    </form>
    <br>
    <br>
    
    
    {% for paciente in pacientes %}
        {% for historial in historiales %}
            {% for cliente in clientes %}    
                {% if paciente.idpaciente == idpaci %}
                    {% if historial.idpaciente_id ==  idpaci%}
                    

                        <div class="center-content">
                            <div class="content-container">
                                <div class="text-content">
                                    <p>Nombre del Dueño: {{ cliente.nombre }}</p>  
                                    
                                    <p>Nombre: {{ paciente.nombre }}</p> 
                                    <p>Fecha: {{ historial.fecha }}</p>
                                    <p>Consulta: {{ historial.consulta }}</p>
                                    <a href="{% url 'ver_historialclinico' idhistorial=historial.idhistorial idvacuna=historial.idvacuna.idvacuna idpeso=historial.idpeso.idpeso idpaciente=historial.idpaciente.idpaciente idespecie=historial.idpaciente.idespecie.idespecie idraza=historial.idpaciente.idespecie.idraza.idraza idexamenc=historial.idexamenc %}" class="btn">Ver</a>
                                    <a href="{% url 'modificar_historialclinico' idhistorial=historial.idhistorial idvacuna=historial.idvacuna.idvacuna idpeso=historial.idpeso.idpeso idpaciente=historial.idpaciente.idpaciente idespecie=historial.idpaciente.idespecie.idespecie idraza=historial.idpaciente.idespecie.idraza.idraza idexamenc=historial.idexamenc %}" class="btn">Modificar</a>
                                </div>
                                <div class="image-content">
                                    <img src="../../static/img/usuario.jpg" alt="">
                                </div>
                            </div>
                        </div>
                            <br>
                            <br>
                    {% endif %}    
                {% endif %}
            {% endfor %}         
        {% endfor %} 
    {% endfor %} 
    
    
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    
  
</script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var dniSelect = document.getElementById('dniCliente');
            var pacienteSelect = document.getElementById('idPaciente');
    
            dniSelect.addEventListener('change', function () {
                var selectedDNI = dniSelect.value;
    
                // Convertir el DNI a un número entero antes de realizar la solicitud AJAX
                selectedDNI = parseInt(selectedDNI, 10);
    
                // Realizar una solicitud AJAX para obtener los pacientes asociados al DNI seleccionado
                fetch('/get_pacientes_by_dni/' + selectedDNI + '/')
                    .then(response => response.json())
                    .then(data => {
                        // Limpiar la lista actual de pacientes
                        pacienteSelect.innerHTML = '';
    
                        // Agregar las nuevas opciones de pacientes
                        data.forEach(paciente => {
                            var option = document.createElement('option');
                            option.value = paciente.idpaciente;
                            option.textContent = paciente.nombre; // Ajusta esto según la estructura de tus datos
                            pacienteSelect.appendChild(option);
                        });
                    })
                    .catch(error => console.error('Error:', error));
            });
        });
    </script>
    
   <script>
    document.addEventListener('DOMContentLoaded', function () {
        var dniSelect = document.getElementById('dni');
        var pacienteSelect = document.getElementById('idPaci');

        dniSelect.addEventListener('change', function () {
            var selectedDNI = dniSelect.value;

            // Convertir el DNI a un número entero antes de realizar la solicitud AJAX
            selectedDNI = parseInt(selectedDNI, 10);

            // Realizar una solicitud AJAX para obtener los pacientes asociados al DNI seleccionado
            fetch('/get_pacientes_by_dni/' + selectedDNI + '/')
                .then(response => response.json())
                .then(data => {
                    // Limpiar la lista actual de pacientes
                    pacienteSelect.innerHTML = '';

                    // Agregar las nuevas opciones de pacientes
                    data.forEach(paciente => {
                        var option = document.createElement('option');
                        option.value = paciente.idpaciente;
                        option.textContent = paciente.nombre; // Ajusta esto según la estructura de tus datos
                        pacienteSelect.appendChild(option);
                    });
                })
                .catch(error => console.error('Error:', error));
        });
    });
</script>





</body>
</html>
{%endblock%}