{% extends 'layout.html' %}
{% block content %}
{% load static %}
<!DOCTYPE html>
<html>

<head>
    <title>Reservar Turno</title>
    <!-- Carga las bibliotecas de jQuery y jQuery UI -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <link rel="stylesheet" type="text/css" href="{% static 'css/turnero_dig.css' %}">

  
</head>

<body>
    <h1>Reservar Turno</h1>
    <form id="eventForm" method="POST" class="frm" action="{% url 'turnero' %}">
        {% csrf_token %}
       
        
        <label for="dni">DNI</label>
        <input type="text" id="dni" name="dni" placeholder="DNI">
        <br>
        <br>
        <label for="email">Email</label>
        <input type="email" id="email" name="email" placeholder="Email">
        <br>
        <br>
        <label for="celular">Celular</label>
        <input type="text" id="celular" name="celular" placeholder="Número de celular">
        <br>
        <br>
        <label for="tipo">Tipo de turno</label>
        <select name="tipo" id="tipo" required>
            <option value="Normal">Normal</option>
            <option value="Emergencia">Emergencia</option>
        </select>
        <br>
        <br>
        
        <label for="datepicker">Día</label>
        <input type="date" id="datepicker" name="fecha" placeholder="Seleccione una fecha">
        
        <br>
        <br>

        <label for="timepicker">Hora</label>
        <select id="timepicker" name="hora">
            {% for hora in horas_disponibles %}
                <option value="{{ hora }}">{{ hora }}</option>
            {% endfor %}
        </select>
        
        <br>
        <br>
        <input type="submit" name="accion" class="btn" value="Solicitar">
     
      
        
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li class="{{ message.tags }}">{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
    </form>

    
    <script src="{% static 'js/filtrado_hora_calendar.js' %}"></script>    
  
    
   

</body>

</html>












{% endblock %}