* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    
    background-repeat: no-repeat; /* Evita la repetición de la imagen */
    background-size: 20%; 
    background-position-y:150%;
    
    background-image: url('../img/fondo.png'); /* Reemplaza 'ruta-de-tu-imagen.jpg' con la ruta de tu imagen de fondo */
   

   
    
}

h1{
    text-align: center;
    justify-content: center;
}

.hora-ocupada {
    color: red;
    /* O cualquier otro estilo que desees aplicar a las horas ocupadas */
}

.navbar {
    background-color: black ;
}


.nav .nav-l .nav-link{
    color: white;
}

.nav .nav-l .nav-link:hover{
    color: orange;
}

.dropdown-menu .dropdown-item {
    color: black; 
}

.dropdown-menu  a:hover {
    color: orange;
   
 }




.dropdown-menu .item {
    text-decoration: none;
    color: black;
    justify-content: center;
    text-align: center;
    margin-left: 10%

}
.btn{
    
    background-color: #9034db; /* Color de fondo */
    color: #ffffff; /* Color de texto */
    border: none; /* Elimina el borde */
    padding: 10px; /* Relleno interno */
    border-radius: 20px; /* Borde redondeado */
    cursor: pointer; /* Cambia el cursor al pasar por encima */
    font-size: 16px; /* Tamaño de fuente */
}
.btn:hover {
    color:orange;
}


.message .succes{
    width: 50%;
}

.frm{
    
    text-align: center ;
    justify-content: center;
    margin-top: 5%;
    margin-right: 4%;
    
}

/* historial_clinico.css */
#cuadradoNegro {
    display: none;
    width: 100px;
    height: 100px;
    background-color: black;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translateX(-50%);
}

.mostrar {
    display: block !important; /* Añade !important para asegurar que la clase tenga prioridad */
}



.center-content {
    
    border: 1px solid black; /* Define el borde negro */
    /* Agrega un espacio interno para separar el contenido del borde */
    margin-left: 35%; /* Ajusta según sea necesario para el espaciado entre cajas */
    width: 800px;
    height: 375px;
       
    border: 2px solid black;
    padding: 20px;
}

.cuadrado-clientes,
.cuadrado-pacientes,
.cuadrado-historiales {
    display: none; /* Ocultar inicialmente */
    margin-top: 20px;
}

.cuadrado {
    border: 1px solid #000;
    padding: 10px;
    margin-bottom: 10px;
}

.mostrar {
    display: block; /* Mostrar cuando la clase 'mostrar' está presente */
}
.box {
    border: 1px solid black; /* Define el borde negro */
    padding: 10px; /* Agrega un espacio interno para separar el contenido del borde */
    margin-bottom: 20px; /* Ajusta según sea necesario para el espaciado entre cajas */
    color: white;
}

img{
    width: 200px;
    height: 200px;
}